#homepage_background {
    background-image: url('../images/redoeyes.png');
    background-size: cover;
}
div{
    height:200px;
    width:50%
}

.image{
    width: 100%;
    height: auto;
}

header {
    color:mediumslateblue;
}

.vibes{
   width: 25vw;
   height: auto;
}